<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="TodoApplication.My.MySettings.TodoAppConnectionString"
            connectionString="Data Source=DESKTOP-G9LOJ4U\HUONGSERVER;Initial Catalog=TodoApp;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>